
<form th:fragment="createBook" method="POST" th:action="@{/admin/add_book}" >

    <div class="form-group">
        <label for="title" ><b>Title</b></label>
        <input type="text" class="form-control"  placeholder="Enter Title"  name="title" id="title" required>
    </div>

    <div class="form-group">
        <label for="author"><b>Author</b></label>
        <input type="text" class="form-control"  placeholder="Enter Author"  name="author" id="author" required>
    </div>
    <div class="form-group">
        <label for="description"><b>Description</b></label>
        <input type="text" class="form-control"  placeholder="Enter Description"  name="description" id="description" required>
    </div>

    <div class="form-group">
        <label for="price"><b>Price</b></label>
        <input type="text" class="form-control"  placeholder="Enter price"  name="price" id="price" required>
    </div>

    <div class="form-group">
        <label for="stock"><b>Stock</b></label>
        <input type="number" class="form-control" placeholder="Enter Stock"  name="stock" id="stock" required>
    </div>
    <div class="form-group">
        <label for="category"><b>Category</b></label>
        <select class="form-select" name="category" id="category">
            <option value="">Choose Category</option>
            <option value="Fiction">Fiction</option>
            <option value="Non-fiction">Non-Fiction</option>
        </select>
    </div>

<!-- closing tag in the main admin html -->
