<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}">
    <meta name="_csrf_header" content="${_csrf.headerName}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="fetchBooks.js" defer></script>
    <title>My Book Store</title>

</head>
<body>

<div id="books-container" th:attr="data-user-id=${userId}"></div>
    <h1> Welcome to the bookstore! </h1>
<div th:insert="nav.html::navbar">
    <!-- The navbar fragment will be included here -->
</div>
<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}">Display the error message here.</p>
</div>
<div th:if="${successMessage}" class="alert alert-success">
    <p th:text="${successMessage}">Display the error message here.</p>
</div>
<div class="container">
    <div style="padding:10px">
        <form class="d-flex" method="get" action="" id="search-bar">
            <input class="form-control me-2"
                   type="search"
                   id="query"
                   name="query"
                   placeholder="Search…">
            <button class="btn btn-outline-success" type="submit">
                Search
            </button>
        </form>
    </div>


    <form method="get" id="book-filter" class="row g-2 mb-3">
        <input type="hidden" name="q" th:value="${param.q}">

        <div class="col-md-3">
            <select class="form-select" name="category" id="category">
                <option value="">All categories</option>
                <option value="Fiction">Fiction</option>
                <option value="Non-fiction">Non-Fiction</option>
            </select>
        </div>

        <div class="col-md-3">
            <input type="text" class="form-control" name="author" id="author" placeholder="Author"/>
        </div>

        <div class="col-md-3">
            <select class="form-select" name="priceRange" id="priceRange">
                <option value="">Any price</option>
                <option value="1-100"> <100</option>
                <option value="101-200">101-200</option>
                <option value="201-300">201-300</option>
                <option value="301-400">301-400</option>
                <option value="401-500">401-500</option>
                <option value="500+">500</option>

            </select>
        </div>

        <div class="col-md-3">
            <button class="btn btn-primary w-100">Apply</button>
        </div>
    </form>
</div>

<table  class="table table-bordered container">
    <tr style="align-items: center">
        <td >
            <button id="prevBtn" ><</button>
            <button id="nextBtn" >></button>
        </td>
    </tr>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock</th>
    </tr>
    <tbody id="books-list">
    <!-- rows will be injected here -->
    </tbody>

    </table>
</body>

</html>