<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>My Book Store</title>
</head>
<body>
    <h1> Welcome to the bookstore! </h1>
    <div th:insert="nav.html::navbar">
        <!-- The navbar fragment will be included here -->
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}">Display the error message here.</p>
    </div>
    <div class="container">
        <div style="padding:10px">
            <form class="d-flex" method="get" action="/books/search">
                <input class="form-control me-2"
                type="search"
                name="query"
                placeholder="Search…">
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
        <form method="get" action="/books/filtered" class="row g-2 mb-3">
            <input type="hidden" name="q" th:value="${param.q}">

            <div class="col-md-3">
                <select class="form-select" name="category">
                    <option value="">All categories</option>
                    <option value="Fiction">Fiction</option>
                    <option value="Non-fiction">Non-Fiction</option>
                </select>
            </div>

            <div class="col-md-3">
                <input class="form-control" name="author" placeholder="Author">
            </div>

            <div class="col-md-3">
                <select class="form-select" name="priceRange">
                    <option value="">Any price</option>
                    <option value="1-100"> <100</option>
                    <option value="101-200">101-200</option>
                    <option value="201-300">201-300</option>
                    <option value="301-400">301-400</option>
                    <option value="401-500">401-500</option>
                    <option value="500+">500</option>

                </select>
            </div>

            <div class="col-md-3">
                <button class="btn btn-primary w-100">Apply</button>
            </div>
        </form>
    </div>
    <table  class="table table-bordered container">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Stock</th>
        </tr>
        <tr th:each="book : ${books}">

            <td th:text="${book.title}">Title ...</td>
            <td th:text="${book.author}">Author ...</td>
            <td th:text="${book.description}">This is a book ...</td>
            <td th:text="${book.price}">300 ...</td>
            <td th:text="${book.category}">Fiction ...</td>
            <td th:text="${book.stock}">Fiction ...</td>

            <td>
                <form th:action="@{/add_cart/{userId}/{bookIsbn}(userId=${userId},bookIsbn=${book.isbn})}" method="post">

                <button name="addToCart" >Add to cart now!</button></form>
            </td>
        </tr>
    </table>

</body>
</html>